.nav{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
}

.logoGame1 {
    position: fixed;
    top: 4px;
    right: 20px;
    width: 100px;
    height: 100px;
    margin: 0;
    border-radius: 5px;
    display: block;
    z-index: 100;
}

.btnhome1 {
  background-image: url(/btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: rgb(46, 44, 44);
  width: 200px;
  height: 50px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  margin: 0;
  top: 20px;
  left: 20px;
  position: fixed;
}

h1 {
    text-align: center;
  }

  button.reiniciar {
    background-image: url(/btn.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: rgb(46, 44, 44);
    margin: 10px auto;
    display: block;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 180px;
    height: 50px;
    font-size: 24px;
    transition: background-color 0.5s ease-in-out;
    border-radius: 5px;
  }
button.reiniciar:hover, .btnhome1:hover {
    background-color: #424242;
    filter: brightness(1.2);
    transition: background-color 0.5s ease-in-out;
  }

  .timer {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 10px auto;
  }

  .game {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    border: 2px solid black;
  }

  .cell {
    width: 5%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    border: 1px solid #111;
    background-color: #595959;
    color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding: 0;
    font-size: 14px;
    transition: background 0.5s;
  }

  .cell.chess {
    background-color: #787777;
  }

  .cell.revealed.chess{
    background-color: #fff;
    color: black;
    box-shadow: 0 0 6px #aaa;
  }

  .cell.revealed:not(.chess){
    background-color: #dfdede;
    color: black;
  }

  .cell:focus {
    outline: 2px solid #009;
  }

  .revealed {
    /* background-color: #ccc !important; */
    color: black !important;
  }

  .bomb {
    background-color: red !important;
  }

  .flag::after {
    content: "🚩";
    position: absolute;
    font-size: 16px;
  }

  @media (max-width: 720px) {
    h1{
        font-size: 24px;
    }

    button.reiniciar{
      font-size: 4vw;
      width: 30vw;
      height: 10vw;
    }
    .game {
        width: 98vw;
        height: 98vw;
        max-width: 98vw;
        max-height: 98vw;
    }
    .logoGame1 {
        width: 16vw;
        min-width: 32px;
        top: 0;
        right: 8px;
    }
    .btnhome1 {
       display: none;
    }
    .cell {
        font-size: 3vw;
    }
}
